---
import Base from "../layouts/Base.astro";
import Navbar from "../components/Navbar.astro";

import BarcodeDetection from "../screens/BarcodeDetection.svelte";
---

<Base>
  <Navbar />

  <h1
    class="mt-4 font-bold text-3xl"
    transition:name="experiment-BarcodeDetector"
  >
    Barcode Detection API
  </h1>

  <p class="mt-2">
    A API de detecção de código de barras fornece a capacidade de encontrar e
    decodificar múltiplos códigos de barras em uma imagem ou fluxo de vídeo.
  </p>
  <p class="mt-2">
    Se o seu navegador ainda não tiver suporte para a API, um botão "Usar Mock
    Payload" estará disponível, assim você poderá observar o output da detecção
    com uma imagem real. Formatos aceitos: EAN-13, EAN-8, QR Code, Aztec, Code
    128, Code 39, Code 93, Codabar, Data Matrix, ITF, PDF417, UPC-A e UPC-E.
  </p>

  <a
    class="text-cyan-500 font-semibold hover:underline mt-4"
    href="https://developer.mozilla.org/en-US/docs/Web/API/BarcodeDetector"
    target="_blank">Documentação no MDN (em inglês)</a
  >

  <h2 class="mt-4 font-bold text-2xl">Exemplo</h2>
  <hr class="dark:border-neutral-700 my-2" />

  <BarcodeDetection client:only />
</Base>
