---
import Base from "../layouts/Base.astro";

import Highlight from "svelte-highlight";
import javascript from "svelte-highlight/languages/javascript";
import "highlight.js/styles/github-dark-dimmed.css";

import ExperimentList from "../components/ExperimentList.astro";
import Contributors from "../components/Contributors.svelte";

const code = `if (!("<feature-name>" in window)) {
  // Informe o usuário que a função não está disponível e não execute o código.
  // ...
  return;
}`;
---

<Base>
  <section class="pt-8 flex flex-col items-center">
    <div class="text-center">
      <div class="text-[64px] leading-[96px]" transition:name="brand-title">🧪</div>
      <h1 class="text-2xl sm:text-4xl mt-4 font-bold">
        Laboratório de Web APIs
      </h1>

      <p class="mt-2 text-base mx-4 dark:text-neutral-300 text-neutral-700">
        Teste exemplos de Web APIs experimentais e novas funcionalidades do
        JavaScript.
      </p>
    </div>

    <ul class="mt-2 flex flex-wrap gap-x-4 gap-y-2 text-cyan-500 font-bold">
      <li><a href="#apis">Experimentos</a></li>
      <li><a href="#how-to">Como usar</a></li>
      <li><a href="#sobre">Sobre</a></li>
      <li>
        <a href="https://github.com/guilherssousa/experimental-web-apis">
          GitHub
        </a>
      </li>
    </ul>
  </section>

  <section class="mt-8" id="apis">
    <h2 class="font-bold text-2xl">🧪 Experimentos disponíveis</h2>
    <hr class="dark:border-neutral-700 my-4" />

    <ExperimentList />
  </section>

  <section class="mt-8" id="how-to">
    <h2 class="font-bold text-2xl">✏ Usando APIs em desenvolvimento</h2>
    <hr class="dark:border-neutral-700 my-4" />

    <p>
      Para usar as APIs em desenvolvimento, primeiro você precisa detectar se o
      navegador do usuário já tem suporte a funcionalidade. Existem vários
      métodos para habilitar essas features, como usar <i>flags</i>, ou acessar
      via navegadores de preview como o Chrome Canary.
    </p>

    <p class="mt-2">
      Para verificar se a feature já está disponível para uso no navegador do
      cliente, você pode fazer uma verificação pelo objeto da funcionalidade no
      objeto global <code>window</code>:
    </p>

    <Highlight class="mt-4" language={javascript} {code} />
  </section>

  <section class="mt-8" id="sobre">
    <h2 class="font-bold text-2xl">🔎 Sobre</h2>
    <hr class="dark:border-neutral-700 my-4" />

    <p>
      Esse projeto faz parte da apresentação <strong
        >"APIs experimentais para ficar de olho"</strong
      >. Serve para testar as APIs que foram apresentadas de uma forma rápida e
      prática. Você pode acessar o código fonte disponível no
      <a
        href="https://github.com/guilherssousa/experimental-web-apis"
        target="_blank"
      >
        GitHub</a
      >. Se você quiser saber mais sobre as APIs, pode acessar as
      <a href="https://developer.mozilla.org/pt-BR/docs/Web/API" target="_blank"
        >listas de Web APIs no MDN</a
      >, que exibem as funcionalidades em desenvolvimento com um ícone.
    </p>

    <p class="mt-2">
      A Stack usada no desenvolvimento do site foi Astro, Svelte, Tailwind e
      Highlight.js.
    </p>

    <p class="mt-2">Os contribuidores do repositório estão listados aqui:</p>

    <Contributors client:visible />
  </section>
</Base>

<style lang="postcss">
  a[target="_blank"],
  strong {
    @apply text-cyan-500 font-bold;
  }

  h2 {
    @apply dark:text-neutral-100;
  }

  p {
    @apply leading-relaxed dark:text-neutral-100;
  }
</style>