---
import Base from "../layouts/Base.astro";
import Navbar from "../components/Navbar.astro";
---

<Base>
    <Navbar />

  <h1
    class="mt-4 font-bold text-3xl"
    transition:name="experiment-Sanitizer"
  >
    HTML Sanitizer API
  </h1>
</Base>