---
import { ViewTransitions } from "astro:transitions";
---

<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🧪</text></svg>"
    />
    <title>Laboratório de Experimentos</title>

    <ViewTransitions />
  </head>
  <body>
    <main
      class="dark:bg-neutral-900 dark:text-neutral-50 bg-white min-h-screen text-neutral-900 pb-4"
      transition:animate="slide"
    >
      <div class="mx-auto max-w-screen-lg px-2">
        <slot />
      </div>
    </main>
  </body>
</html>
